<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
    <head>
        <link rel="stylesheet" type="text/css" href="js-adapt/style.css" />
        <style type="text/css">
            div#instructions {display:block;}
            a {color: #888888; text-decoration:none;}
            a:hover {color: #aaaaaa;}
        </style>
        <title>Online phonetics demo</title>
    </head>

    <body>
        <div id="textContainer">
            <div id="instructions" >
                <h3>Welcome!</h3>
                <p>This is a working demo of an online phonetic adaptation experiment, written entirely in HTML, CSS, and JavaScript (with liberal use of JQuery).  If you want to play around with the code yourself, <a href="https://bitbucket.org/dkleinschmidt/mtadapt-demo">fork it over on Bitbucket</a>.</p>
                <p>The actual experiment is a replication and extension of Vroomen, van Linden, de Gelder, and Bertelson (2007) <a href="http://www.beatricedegelder.com/documents/vroomen2007.pdf">[pdf]</a>.  We included two extra conditions, which you can read all about in Kleinschmidt and Jaeger (2012) <a href="http://www.academia.edu/1532335/Kleinschmidt_D._F._and_Jaeger_T._F._2012_._A_continuum_of_phonetic_adaptation_Evaluating_an_incremental_belief-updating_model_of_recalibration_and_selective_adaptation._In_CogSci12">[link]</a>.</p>
                <p>If you just want to run the demo (really the full experiment), choose which condition to run:</p>
                <ul>
                  {% for condition in conditions %}
                    <li><a href="experiment/{{condition.condition}}">{{condition.name}}</a></li>
                  {% endfor %}
                </ul>
                <p>You can also <a href="expt_vroomen_replication.html?condition=ambig&nocalib">skip the calibration phase and go straight to the adaptation part</a>.</p>
                <p><a href="http://www.bcs.rochester.edu/people/dkleinschmidt">Dave Kleinschmidt</a> made this.</p>
            </div>
    </body> 
</html>
